.app {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menus {        
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   gap: 20px;
}